<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

 
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<style>
body{
background-image:url("https://wallpapertag.com/wallpaper/full/e/7/5/156694-white-gradient-background-1920x1080-for-lockscreen.jpg");
}
</style>
 
 
<div>
	<b><h1 style="color:blue; font-size:30px" >JOBSEEKER LIST</h1></b>
	<tr>
		<div align = "Right" >
			<b><a style="color:red; font-size:20px" th:href="@{'/adminindex'}">LOGOUT</a></b>
						   
		       
	    
	    </div>
	
	</tr>
	<tr>
	
	<div class="red" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
  </tr>
    <tr>
      		
            <th>JobSeekerName</th>
             <th>DOB</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Location</th>
           <th>Qualification</th>
           <th>PassOutYear</th>
                <th>UserName</th>
            <th>Password</th>   
               
            <th>PhoneNo</th>
            <th>Experience</th>
            <th>Skills</th>
            <th>EmailId</th>
            
            </tr>
  </thead>
  <tbody>
      <tr  th:each="jobseeker : ${listjobseeker }">
		 	
			<td th:text="${jobseeker.name}">JobSeeker Name</td>
			<td th:text="${jobseeker.dob}">DOB</td>
			<td th:text="${jobseeker.age}">Age</td>
			<td th:text="${jobseeker.gender}">Gender</td>
			<td th:text="${jobseeker.location}">Location</td>	
			<td th:text="${jobseeker.education}">Qualification</td>
			<td th:text="${jobseeker.passoutyear}">PassOutYear</td>
			<td th:text="${jobseeker.username}">UserName</td>
			<td th:text="${jobseeker.password}">Password</td>
			<td th:text="${jobseeker.phoneno}">Phone No</td>
			<td th:text="${jobseeker.experience}">Experience</td>
			<td th:text="${jobseeker.skills}">Skills</td>
			<td th:text="${jobseeker.email}">EmailId</td>
			
		
		</td>							    
		</tr> 
   
  </tbody>
</table>     
                 </div>
 
            </div> 
 
	</tr>
 
	</tbody>
	</table>
	<div>
</body>
</html>